html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    background-image: url('../assets/pic/background.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#main * {
    background-color: white;
    opacity: 0.9;
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto; 
    margin-right: auto;
    width: 75%;
}


#header {
    width: 20%;
    background-color: transparent; 
}

#header-inner {
    
}

#site-brand-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #000;
}

#site-brand-container * {
    background-color: #000;
}

#site-meta {
    
}

#brand {
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

#menu-nav {
    margin: 0;
    padding: 1em 0;
}

.menu-item {
    list-style: none;
    display: block;
}

.menu-item-active {
    padding: 8px 20px;
    display: block;
    color: #000;
    text-decoration: none;
}

.menu-item-active .fa {
    font-size: 13px;
    margin-right: 8px;
}

#search-bar {
    margin: 1em 0;
    padding: 1em 0;
    text-align: center;
}

#search-bar form {
    margin: 0;
}

#sidebar {
}

#avatar-box {
    padding: 1em 0;
    text-align: center;
    
}

#avatar {
    border-width: 2px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 10%;
} 

#content {
    width: calc(80% - 12px);
    padding: 0 1em;
}


#footer {
    background-color: white;
    opacity: 0.9;
}


#fixed-test {
    position: fixed;
    right: 0px;
    top: 0px;
}
