<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8" >
        <title> DDOSvoid's blog </title>
		<base href="../" >
        <link rel="shortcut icon" href="../assets/pic/favicon.png" >
        <link rel="stylesheet" type="text/css" href="css/style.css" >
        <link rel="stylesheet" type="text/css" href="css/线性基.css" >
        <link rel="stylesheet" type="text/css" href="assets/fontawesome-free-5.15.3-web/css/all.css">
    </head>
    <body>
        <main id="main" >
            <header id="header" >
                <div id="header-inner" >
                    <div id="site-brand-container">
                        <div id="site-meta" >
                            <a id="brand" href="index.html" rel="start" > 
                                <h3> DDOSvoid's blog </h3>
                            </a>
                        </div>
                    </div>
                    <nav id="site-nav" >
                        <ul id="menu-nav" >
                            <li class="menu-item" >
                                <a class="menu-item-active" href="index.html" >
                                    <i class="fa fa-home fa-fw" > </i>
                                    首页
                                </a>
                            </li>
                            <li class="menu-item" >
                                <a class="menu-item-active" href="pages/about.html" >
                                    <i class="fa fa-user fa-fw" > </i>
                                    关于
                                </a>
                            </li>
                            <li class="menu-item" >
                                <a class="menu-item-active" href="pages/tag.html">
                                    <i class="fa fa-tags fa-fw" > </i>
                                    标签
                                </a>
                            </li>
                            <li class="menu-item" > </li>
                        </ul>
                    </nav>
                </div>
                <div id="search-bar" >
                    <form>
                        <input type="text" placeholder="搜索框" >
                        <input type="submit" value="搜索" >
                    </form>
                </div>
                <aside id="sidebar" >
                    <div id="avatar-box" >
                        <img id="avatar" src="assets/pic/avatar.jpg" alt="avatar" width="60%" >
                    </div>
                    <div id="uesr-id" style="text-align: center; font-weight: 600" >
                        DDOSvoid 
                    </div>
                </aside>
            </header>
            <div id="content" >
                <h2 align="center"> 线性基 </h2>
                <pre class="cpp" >
                    <code>
struct LinearBasis {
    static const int n = 60;
    bool O;
    ll a[61];

    void clear() { O = 0; for (int i = 0; i &lt;= n; ++i) a[i] = 0; } 
    
    void insert(ll v) {
        for (int i = n; ~i; --i) {
            if (!(v &gt;&gt; i &amp; 1)) continue;
            if (!a[i]) { a[i] = v; break; }
            v ^= a[i]; 
        }
        O |= !v; 
    }

    void work() {
        for (int i = 0; i &lt;= n; ++i)
            for (int j = 0; j &lt; i; ++j)
                if (a[i] &gt;&gt; j &amp; 1) a[i] ^= a[j];
    }

    ll get_max(ll v = 0) {
        for (int i = n; ~i; --i) v = max(v, v ^ a[i]); 
        return v;
    }

    ll get_min() {
        if (O) return 0;
        for (int i = 0; i &lt;= n; ++i)
            if (a[i]) return a[i];
    }

    ll get_min(ll v) {
        for (int i = n; ~i; --i) v = min(v, v ^ a[i]);
        return v;
    } 

    ll get_kth(ll k) {
        ll ans = 0; k -= O; 
        for (int i = 0; i &lt;= n; ++i) {
            if (!a[i]) continue;
            if (k &amp; 1) ans ^= a[i];
            k &gt;&gt;= 1; 
        }
        if (k &gt; 0) return -1; 
        else return ans; 
    }

    bool check(ll v) {
        for (int i = n; ~i; --i) {
            if (!(v &gt;&gt; i &amp; 1)) continue;
            if (!a[i]) return 0;
            v ^= a[i]; 
        } return 1;
    } 
} S;
                    </code>
                </pre>
            </div>
        </main>
        <footer id="footer" >
            <div>
                <p> footer </p>
            </div>
        </footer>
    </body>
</html>
